// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$font-body: 'Roboto', sans-serif;
$font-heading: 'Montserrat', sans-serif;

$color-darkestgrey: #242424;
$color-darkgrey: #444;
$color-grey: #999;
$color-lightgrey: #ddd;
$color-lightestgrey: #f1f1f1;

$color-white: #fff;

$color-red: #ee6654;
$color-yellow: #dca41d;
$color-blue: #2fb9c5;
$color-nude: #ece9de;